.item {
    box-shadow: 50% 10px 100px var(--default-background-color),
        -50% -10px 100px var(--default-background-color);
    background-color: var(--default-background-color);
    border: 1px solid var(--left-bar-active-color);
    border-radius: 4px;
}

.item_hover {
    /* filter: brightness(1.5); */
    /* background: linear-gradient(135deg, #e0eafc, #ffffff); */
    box-shadow: 50% 10px 100px var(--active-color),
        -50% -10px 100px var(--active-color);
    background-color: var(--active-color);
}