
:root{

    user-select: none;
    box-sizing: border-box;
    text-align: left;
}
.border{
    /* border: 1px solid black; */
}
.leftBar{
    position: absolute;
    left: 5px;
    top: 0px;
    padding-top: 5px;
    overflow: auto;
    border-right: 1px solid black;
    height: 90%;
    border-bottom: 1px solid black;
}
.label{
    width:10px;
    height: 10px;
}

.file:hover,
.dir:hover{
    background-color: aqua;
}

.choice:hover{
    filter: brightness(0.3);
    border: 1px solid black;
    border-radius: 20%;
}
.heightTransition{
    transition: all 0.3s linear ;
    overflow: hidden;
}

.filelabel{
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 130px;
}
.filelabel:active{
    background-color: gray;
}
